<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Student Registration</title>
	</head>
	<body>
		{{>header}}
		<div class="stud-form">
			<div class="innerform">
				<form action="/test" method="POST">
					<div class="flabel"><label>Email</label></div>
					<input type="email" name="email" required>

					<div class="flabel"><label>Password</label></div>
					<input type="password" name="password">

					<div class="flabel"><label>Registration No.</label></div>
					<input type="number" name="roll" required>

					<div class="flabel"><label>Name</label></div>
					<input type="text" name="fname" required>
				
					<div>
						<button type="submit" class="fbtn">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>